
{% load crispy_forms_tags %}
<html>
<head>
    <title>
        CSV file upload
    </title>
</head>
<body>
<p>Upload Files</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy}}
     <input type="file" name="file">
    <button type="submit">Upload</button>
</form>
</body>
</html>