
<html>
<head>
    <title>
        CSV file upload
    </title>
</head>
<body>
<h2> Files </h2>

<table class="table" border="1">
    <thead>
    <tr>
        <th> File Name </th>
        <th>Downloads</th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr>
        <td>{{ file.name }}</td>
        <td>
            <a href="{{ file.filepath.url }}" target="_blank"> Download</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <a href="{% url 'upload_file' %}"> Upload a file </a>
</body>
</html>