<html>
<head>
    <title>
        CSV file upload
    </title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload</button>

</form>

</body>
</html>